 <header>
        <div class="container nav-wrapper">
            <a href="index.html" class="logo">
                <i class="fas fa-bolt"></i>
                POWERFUL POSITION
            </a>
            <ul class="nav-links">
                <li><a href="index.html#home">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="assets/pages/service.html">Services</a></li>
                <!-- <li><a href="index.html#pricing">Pricing</a></li> -->
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="mobile-menu">
                <button class="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <a href="index.html#join" class="btn-primary desktop-join-btn">Join Now</a>
        </div>
    </header>  